.footer {
    background-color: #333; /* Warna background */
    color: white; /* Warna teks */
    text-align: center; /* Pusatkan teks */
    padding: 15px; /* Jarak atas bawah */
    position: fixed; /* Tetap di bawah */
    bottom: 0;
    left: 0;
    width: 100%; /* Lebar penuh */
    font-size: 14px;
  }
  