@import "bootstrap/scss/bootstrap";

.sidebar {
    width: 250px;
    height: 400px;
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;

    .nav-link {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      color: #6c757d;
      font-weight: 500;
      text-decoration: none;
  
      i {
        margin-right: 10px;
        font-size: 18px;
      }
  
      &:hover {
        background: #e2e6ea;
        color: #4e73df;
        border-radius: 5px;
      }
    }
  
    .submenu {
      list-style: none;
      padding-left: 30px;
      display: none;
  
      a {
        display: block;
        padding: 8px;
        color: #6c757d;
        font-size: 14px;
        text-decoration: none;
        
        &:hover {
          color: #4e73df;
        }
      }
    }
  
    .submenu.show {
      display: block;
    }
  }
  