<div class="sidebar">

  <!-- Menu -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-house"></i>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-people"></i> Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-between align-items-center" (click)="toggleSubmenu('coreHR')">
        <span class="d-flex align-items-center"><i class="bi bi-clock"></i> Core HR</span>
        <i [ngClass]="activeMenu === 'coreHR' ? 'bi bi-chevron-down' : 'bi bi-chevron-right'"></i>
      </a>
      <ul class="submenu" [ngClass]="{'show': activeMenu === 'coreHR'}">
        <li><a href="#">HR Policies</a></li>
        <li><a href="#">Leave Management</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-wallet"></i> Finance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-cash-stack"></i> Payroll</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-between align-items-center" (click)="toggleSubmenu('inventory')">
        <span class="d-flex align-items-center"><i class="bi bi-clipboard"></i> Inventory Control</span>
        <i [ngClass]="activeMenu === 'inventory' ? 'bi bi-chevron-down' : 'bi bi-chevron-right'"></i>
      </a>
      <ul class="submenu" [ngClass]="{'show': activeMenu === 'inventory'}">
        <li><a href="#">Stock Management</a></li>
        <li><a href="#">Suppliers</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-ui-checks"></i> Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-layers"></i> Projects</a>
    </li>
  </ul>
</div>
